@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q{
	font-style: italic;
}

header{
	font-variant: small-caps;
	margin: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.telegram{
	font-variant: all-small-caps;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}
